
body {
    font-weight: 300;
}

.description {
    padding-left: 15px;
    padding-right: 15px;
}

.description h6 {

    font-size: 14px;
    font-weight: 300;
}

table .display{
	margin-bottom: 10px;
    background-color: #fff;
}

table, th, td {
	/* border-bottom: 1px solid #D2D2D2; */
    /* border-top: 1px solid #D2D2D2; */
    border-collapse: collapse;
 	padding: 10px;
}



table th i.fas {
	display: inline;
    padding-left: 3px;
}

.fa, .fas {
    color: green;
    font-size: 16px;
}
table thead {
	/* background-color: #D2D2D2; */
	font-size: 14px;
    white-space: nowrap; 
    text-align: left;
    text-transform: uppercase;
    
}

table tbody {
	font-size: 12px;
	/* line-height: 14px; */
}
table tbody tr{
	border-bottom: #ccc;
    border-bottom: 1px;
}

table tbody tr:hover {
	background-color: #FFF;
}

table tbody tr td {
    /* min-width: 200px; */
    white-space: pre-wrap; 
}
td h6 {
    font-size: 12px;
    font-weight: bold;
}

.kf-content {
	border: 1px solid #e6e7e8;
	padding: 5px 0 10px;
	margin-bottom: 15px;
    text-align: center;
  }

.kf-content > h2 {
    font-weight: 300;
}
.kf-content > h5 {
    font-weight: 300;
    font-size: 14px;
}

.kf-header {
      background-color:#E9F2FB;
        display: inline-block;
        margin-top: 20px;
        padding: 15px;
        width: 100%;
        text-align: center;
        
}
